<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>217829261292-qdmn7i23nlb66o8uncrt9jah3hkkl78k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.217829261292-qdmn7i23nlb66o8uncrt9jah3hkkl78k</string>
	<key>API_KEY</key>
	<string>AIzaSyBV-bCsp3pxeghZKqcYajV6hDbHXYHCT7k</string>
	<key>GCM_SENDER_ID</key>
	<string>217829261292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reiguedal.uberclone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-c3f9a</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-c3f9a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:217829261292:ios:1a4f565f3a9c2924508ac9</string>
</dict>
</plist>